<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Us</title>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Lato:300,400' rel='stylesheet' type='text/css'>
	 <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>

	<header class= "masthead">
		<h1>Tweetful</h1>
		<p>Making the internet a little more thoughtful</p>
	</header>

	<div class="info-container">
		<section class="info">  
		  <header>
		  	<h2>Peter Lonestar</h2>
		  	<h3>Founder</h3>
		  </header>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, commodi beatae incidunt dignissimos delectus quas illo vitae adipisci molestiae nobis! Distinctio, amet pariatur sequi officiis corporis voluptatum placeat est libero!</p>
		</section>

		<section class="info">  
		  <header>
		  	<h2>Bill Billerson</h2>
		  	<h3>CFO</h3>
		  </header>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nobis veniam excepturi perferendis voluptatibus voluptatem maxime, facilis, aliquid sapiente ad corporis illo error quibusdam quod minima cupiditate reiciendis amet. Dignissimos?</p>
		</section>

		<section class="info">  
		  <header>
		  	<h2>Matt Morris</h2>
		  	<h3>CTO</h3>
		  </header>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti reprehenderit magnam eos! Nobis nihil architecto tenetur reiciendis iusto, ratione officia labore eligendi eos. Corporis tempore, officia cumque porro, ea consequuntur.</p>
		</section>
	</div>
	<footer>
		Contact us: <a href="mailto:admin@tweetful.io"><strong>admin@tweetful.io</strong></a>
	</footer>


</body>
</html>